name: CD

on:
  workflow_run:
    workflows: ["CI"]
    types:
      - completed

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: self-hosted

    steps:
      - name: Pull latest code
        run: |
          cd /home/floriankoehl/orgarhythmus
          git pull

      - name: Build & start containers
        run: |
          cd /home/floriankoehl/orgarhythmus
          docker compose up -d --build
