name: CI

on:
  push:
    branches: [ main ]

jobs:
  test:
    runs-on: self-hosted

    steps:
      - name: Pull latest code
        run: |
          cd /home/floriankoehl/orgarhythmus
          git pull

      - name: Run backend tests
        run: |
          cd /home/floriankoehl/orgarhythmus
          docker compose build backend
          docker compose run --rm backend python manage.py test
