name: Deploy OrgaRhythmus (Docker)

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Pull latest code
        run: |
          cd /home/floriankoehl/orgarhythmus
          git pull

      - name: Build & start containers
        run: |
          cd /home/floriankoehl/orgarhythmus
          docker compose up -d --build
